h3 register
form.register(method="post", action="/register")
  input(type="hidden", name="id", value='register')
  input(type="text", name="name", placeholder="name")
  input(type="text", name="password", placeholder="password")
  input(type="text", name="confirm", placeholder="confirm")
  input(type="text", name="email", placeholder="email")
  input(type="submit", name="register", value="register")